<% title "Roles de #{@section_roles.first.user.full_name}" %>

<table>

<th>RFP</th>
<th>Sección</th>
<th>Fecha de inicio</th>
<th>Fecha de decisión</th>
<th>Estado</th>
<th>Ir a RFP</th>
<th>Evaluar</th>
<% for section_role in @section_roles %>
	<tr>
		<td><%= section_role.request_section.request.name%></td>
		<td><%= section_role.request_section.section.name %></td>
		<td><%= section_role.request_section.request.start_date %></td>
		<td><%= section_role.request_section.request.decision_date %></td>
		<td><%= t(section_role.status) %></td>
		<td><%= link_to "Analizar",  section_role.request_section.request%></td>
		<td><%= link_to "Evaluar",new_rate_path(:id => section_role.id)%></td>
	</tr>
<% end %>
</table>

