<% title "Comments" %>

<div>
  <% for comment in @comments do %>
    <div class="comment">
      <%=simple_format comment.content %>
      <%= link_to t(:remove), request_comment_path(@commentable.id, comment.id), :method => :delete %>
    </div>
  <% end %>
</div>

<h2>Nuevo comentario</h2>

<% form_for [@commentable, Comment.new] do |f| %>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => "4", :cols => "50" %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

