<div class= "form-style">
<%= semantic_form_for @user do |f| %>
  <%= f.inputs do %>
    <%= f.input :first_name, :label => t(:first_name) %>
    <%= f.input :last_name, :label => t(:last_name) %>
    <%= f.input :username, :label => t(:username) %>
    <%= f.input :password, :label => t(:password), :as => :password %>
    <%= f.input :password_confirmation, :label => t(:password_confirmation), :as => :password %>
    <%= f.input :email, :label => t(:email), :as => :email %>
    <%= f.input :admin, :label => t(:admin), :as => :radio %>
 <% end %>
 <%= f.buttons do %>
   <%= f.commit_button :label => t(:create) %>  
 <% end -%> 
<% end %>
</div>
