<div class = "comments">
  <h2> Comentarios </h2>
  <% for comment in comments do %>
    <div class="comment">
      <p><%= "#{comment.user.username.capitalize} dice:" %><p>
      <p><%= simple_format comment.content %></p>
      <%= link_to t(:remove), request_comment_path(commentable.id, comment.id),
	           :method => :delete %>
    </div>  
  <% end %>
  <h3>Crear nuevo comentario</h3>
  <% semantic_form_for [commentable , Comment.new] do |f| %>
    <%= f.inputs do %>
     <%= f.input :content, :as => :text, :label => false, :input_html =>
     {:rows => "10", :cols => "100"}%>
    <% end %>
    <%= f.buttons do %>
      <%= f.commit_button :label => t(:register) %>  
    <% end -%>
  <% end %>
</div>
