<div class= "qualifications">
  <h3>Calificaciones realizadas</h3>
  <table>
  <th><%= t(:accepted) %></th>
  <th><%= t(:rejected)%></th>
  <tr>
  <td>
    <div id="accept">   
      <% for role in @request.section_roles.accepted %>
          <div class="user-accept">
          <strong><%= "%0.2f" % role.average %></strong>
          <p><strong><%= role.user.full_name %></strong></p>
          <p><em><%= role.request_section.section.name %></em></p>
          <% if role.comment %>
            <blockquote>"<%= role.comment %>"</blockquote>
          <% end -%>
        </div>
      <% end -%>
    </div>
    </td>
    <td>
    <div id="reject">   
      <% for role in @request.section_roles.rejected %>
         <div class="user-reject">
           <strong><%= "%0.2f" % role.average %></strong>
           <p><strong><%= role.user.full_name %></strong></p>
           <p><em><%= role.request_section.section.name %></em></p>
           <% if role.comment %>
             <blockquote>"<%= role.comment %>"</blockquote>
           <% end -%> 
       </div>
     <% end -%>
    </div>
    </td>
    </tr>
  </table>
</div>
