<% title "RFP's" %>

<table>
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:start_date) %></th>
    <th><%= t(:decision_date) %></th>
    <th><%= t(:company) %></th>
    <th><%= t(:status) %></th>
    <th><%= t(:score) %></th>
  </tr>
  <% for request in @requests %>
    <%= general_info request %>
  <% end %>
</table>

<p><%= link_to "Registrar RFP", new_request_path %></p>
<p><%= link_to "Registrar usuario", new_user_path %></p>
