<%= stylesheet_link_tag "slide" %>
<% title "RFP" %>

<div class = "options"> 
  <%= link_to t(:edit), edit_request_path(@request) %> |
  <%= link_to t(:remove), @request, :confirm => '¿Está seguro?', :method => :delete %> |
  <%= link_to t(:show_document),  "/upload/rfp/#{@request.filename}" , :target => "_blank"%>
</div>


<div class= "complete-info">
  <div id="rfp-status">
    <% if @request.rated %>
      <p>Este RFP ya fue calificado</p>
    <% elsif @request.finished %>  
      <p>Todos los responsables han calificado el RFP</p>
      <% if current_user.admin %>
        <%= semantic_form_for @request do |form| %>
          <%= form.inputs do %>
            <%= form.input :status, :label => "¿Acepta este RFP?", :as => :radio, :collection => {'Si' => 'accepted', 'No' => 'rejected'} %>
            <%= form.input :comment, :label => "Comentario: ", :as => :text ,:input_html => { :class => "widgEditor"} %>
            <% end -%>
            <%= form.buttons do %>
              <%= form.commit_button t(:send) %>
            <% end -%>            
          <% end -%>
        <% else -%>
          <br/><em>Debe esperar que un usuario administrador califique el RFP</em>
        <% end -%>
	<% else %>
	<em>Faltan responsables por calificar el RFP</em>
       <% end -%>
  </div>

  <div id="general-info">
    <h2>Informacion General</h2>
    <div class="pane" style="display:block;">
      <h3><%= @request.name %></h3>
      <ul>
        <li><strong><%= t(:status) %>: </strong><%= t(@request.status) %></li>
        <li><strong><%= t(:start_date) %>: </strong><%= @request.start_date %></li>
        <li><strong><%= t(:decision_date) %>: </strong><%= @request.decision_date %></li>
	<li><strong><%= t(:time_remaining) %>: </strong><%= (@request.decision_date) - (Date.current) %> días</li>
        <li><strong><%= t(:score) %>: </strong><%= "%0.2f" % @request.average %></li>
        <li><strong><%= t(:type) %>: </strong><%=  @request.request_type.name %></li>
      </ul>    
    </div>
    <h2>Secciones</h2>
    <div id="sections" class= "pane">
      <strong><%= t(:sections) %></strong>
      <p>Recuerde que debe agregar items de evaluacion a su seccion para poder calificarla dependiendo de esos items.</p>
      <ul>
        <% for request_section in @request.request_sections %>
            <li><%= request_section.section.name %>
	    (<em><%= "%0.2f" % request_section.average %></em>)
	    <%= link_to "Agregar items", request_request_section_path(@request, request_section) %></li>
        <% end -%>
      </ul>
      <%= link_to "Agregar seccion", "#", :id => "add-existing-section"%>     
      <%= render 'new_section' %>
    </div>

    <h2>Responsables</h2>

    <div id="responsibles" class= "pane">
      <strong><%= t(:responsibles) %></strong>
      <ul>
        <% for section_role in @request.section_roles %>
          <li><%= section_role.user.full_name %>(<em><%= section_role.request_section.section.name %></em>)</li>
        <% end -%>
      </ul>
      <%= link_to t(:add_responsible), new_request_section_role_path(@request) %>
    </div>
  </div>
</div>
<% if @request.finished and  (!(@request.section_roles.accepted.blank?) or  !(@request.section_roles.rejected.blank?)) %>
  <%= render 'qualifications' %>
<% end %>
